@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color:#EEE;
    font-family:'Lato',Helvetica,Arial;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
    background-color: #FFBD59;
}

.logoFind {
    display: flex;
}

.logoFind img {
    width: 400px;
    height: 40px;
    margin-top: 15px;
}

.wrap {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

#topo {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.788);
    z-index: 999;
    width: 100%;
}

.container {
    position: relative;
    display: flex;
}
 
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-block;
    flex-wrap: nowrap;
}




nav ul {
    display: flex;
}

nav ul li.menu-item a {
    line-height: 30px;
    display: block;
    height: auto;
    padding: 25px 25px 5px 25px ;
    margin-left: 25px;
    color: white;
    border-bottom: 14px solid transparent;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25 ease-in;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
    text-decoration: none;
}

nav ul li.menu-item a:hover {
    border-bottom: 4px solid #FFBD59;
    color: #FFBD59;
}



/* ESTILIZAÇÃO DO CURSO B7WEB */

.models {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#00000033;
    display:none;
    justify-content: flex-end;
    align-items: center;
}
.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #ff2f2873;
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span {
    margin-right:10px;
}
.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#ffffff7c;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    overflow-x:hidden;
    top: 0;
    
    
}
aside.show {
    margin-top: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    transition:all ease .2s;
    overflow-x:hidden;
    width: 30%;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}


.cart--area {
    margin-top: 10px;
    padding:20px;
    
}
main {
    flex:1;
    padding:20px;
}
main #title_h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
    margin-top: 80px;
    margin-left: 20%;
}
.burger-area {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

.burger-area-form {
    margin-left: 29%;
}

.burger-item {
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.pizza-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.burger-item--img {
    width:250px;
    height:250px;
    box-shadow:0px 10px 50px rgba(255, 255, 255, 0.2);
}
.burger-item--img img {
    width:100%;
    height:auto;
}

.burger-item a {
    text-decoration: none;
}
.burger-item--add {
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:25px;
    background-color:#ff2f28;
    text-align:center;
    color:#FFBD59;
    font-size:22px;
    cursor:pointer;
    transition:all ease-in .2s;
    margin-left: 115px;
    margin-top: -20px;
}
.burger-item a:hover .burger-item--add {
    background-color:#fafafa;

}
.burger-item--price {
    font-size:18px;
    font-weight: 500;
    color:#ffffff;
    margin-top:5px;
    text-align: initial;
    margin-left: 90px;
}
.burger-item--name {
    font-size: 25px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
    text-align: initial;
    margin-left: 70px;
    font-family: 'Bebas Neue', sans-serif;
}
.burger-item--desc {
    font-size: 15px;
    color:#555;
    margin-top:10px;
    text-align: justify;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

.burgerWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.pizzaWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.burgerBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pizzaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.burgerBig img {
    height:400px;
    width:auto;
}

.burgerInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}

.burgerInfo h1 {
    margin-top:20px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 30px;
}

.burgerInfo .burgerInfo--desc {
    font-size:14px;
    text-align: justify;
    margin-right: 15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}
.pizzaInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}
.pizzaInfo--sizes {
    display:inline-flex;
    width: 90%;
    border-radius: 10px;
    overflow:hidden;
    height: 51px;
}

.pizzaInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:14px;
    font-weight: bold;
    cursor:pointer;
    
}
.pizzaInfo--size:hover {
    background-color:#FFBD59;
    transition: 0.3s ease-in;
}
.pizzaInfo--size.selected {
    background-color:#fd5e5e;
    color:#000000;
    font-size:14px;
    font-weight: bold;
    cursor:pointer;
    padding:10px 15px;
}
.pizzaInfo--size.selected span {
    color:#D6D6D6;

}
.pizzaInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.pizzaInfo--price {
    display:flex;
    align-items:center;
}
.burgerInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}
.pizzaInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.pizzaInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.pizzaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.pizzaInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color: #FFBD59;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.pizzaInfo--addButton:hover {
    background-color: #fd5e5e;
    transition: 0.3s ease;
}
.pizzaInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}
.pizzaInfo--cancelMobileButton {
    display:none;
    text-align:center;
    line-height: 35px;
    margin-bottom:15px;
    margin-top: 10px;
    width: 60px;
    margin-left: 45%;
    height: 35px;
    background-color: #FFBD59;
    color: #e4e4e4;
    border-radius: 10px;
}

.pizzaInfo--cancelMobileButton:hover {
    background-color: #ff2f28;
    transition: 0.3s ease;
}

.cart {
    margin-bottom: 20px;
}
.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.cart--item img {
    width:60px;
    height:60px;
    margin-right:20px;
}
.cart--item-nome {
    flex:1;
}
.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.cart--totalitem {
    padding:10px 0;
    border-top:1px solid #ffffff;
    color:#141414;
    display:flex;
    justify-content: space-between;
    font-size:15px;
    margin-right: 20px;
    font-family: 'Bebas Neue', sans-serif;
}
.cart--totalitem span:first-child {
    font-weight: bold;

}
.cart--totalitem.big {
    font-size:17px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    padding:10px 25px;
    border-radius:20px;
    width: 150px;
    margin-left: 5%;
    background-color:#FFBD59;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:10px;
    border:2px solid #ffffff;
    transition: all ease .2s;
    font-family: 'Bebas Neue', sans-serif;
}
.cart--finalizar:hover {
    background-color:#fd5e5e;
}

@media (max-width:1000px) {
    .burger-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .burger-area {
        display:block;
        
    }
    
    .burger-item--desc {
        width: 250px;
    }

    .burger-item--price, .burger-item--name {
        
        width: 140px;
        
    }

    header {
        display:flex;
    }
    main {
        padding-top:30px;
        padding-right: 90px;
        margin-left: 5%;
    }

   

    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
        height: 100%;
        margin-left: 0;
        position: fixed;
        background-color: #ffffffe8;
    
    }
    aside .show {
        
        width:auto;
        
    }

    .cart--finalizar {
        padding:10px 25px;
        border-radius:20px;
        width: 150px;
        margin-left: 40%;
        background-color:#FFBD59;
        color:#FFF;
        cursor:pointer;
        text-align:center;
        margin-top:10px;
        border:2px solid #ffffff;
        transition: all ease .2s;
        font-family: 'Bebas Neue', sans-serif;
    }
    .cart--area {
        width: 85%;
    }

    .menu-closer {
        display:block;
    }

    .burgerWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .pizzaWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
        
    }

    .burgerBig img {
        width: 75%;
        height: auto;
        z-index: 999;
    }

    .pizzaInfo h1 {
        margin-top:20px;
    }

    .pizzaInfo--qtarea {
        height:60px;
    }
    .pizzaInfo--qtarea button {
        font-size:25px;
        padding:0px 25px;
    }
    .pizzaInfo--qt {
        line-height: 60px;
        font-size:20px;
    }
    .pizzaInfo--addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .pizzaInfo--cancelButton {
        display:none;
    }
    .pizzaInfo--cancelMobileButton {
        display:block;
        color: #555;
    }

}

@media (max-width: 1228px) {
    nav ul {
        display: none;
    } 

    nav li {
        display: none;
    }

    .logoFind img {
        width: 400px;
        height: 40px;
        margin-bottom: 15px;
    }
    
    
}

@media (max-width: 942px) {
    .logoFind img {
        display: none;
        opacity: 5s;
    }

    aside.show {
        margin-top: 0;
        height: 100%;
        position: fixed;
        width: 100%;
    }

    .burger-area-form {
        margin-left: 35%;
    }



}

@media (max-width: 850px) {
    main #title_h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 45px;
        margin-bottom: 45px;
        margin-top: 5px;
        width: 100%;
        
    }
    
    .burger-area-form {
        margin-left: 0;
    }
}




